
/*Name : Anupom Roy 
    Student ID : 300853516 
    Date : September 21, 2017 
    Centennial College*/

#Anupom {
    float: right;
    margin-left: 10px;
    margin-right: 20px;
    height: 250px;
    width: 250px
}
/*
#contact {
    float: left;
    position: absolute;
}
#resume {
    //float: left;
    position:relative;
    
}*/