
/*Name : Anupom Roy 
    Student ID : 300853516 
    Date : September 21, 2017 
    Centennial College*/

#Anupom {
    float: right;
    margin-left: 10px;
    margin-right: 20px;
    height: 250px;
    width: 250px
}
/*
#contact {
    float: left;
    position: absolute;
}
#resume {
    //float: left;
    position:relative;
    
}*/
label {
    width: 250px;
    float: left;
    text-align: right;
}
/*fieldset {
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #FF0000;
}*/
#allPage {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid #777201;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #777201;
    padding: 8px;
    //background-color: #FF9966;
    background-color: azure;
    opacity: 0.9;
}
body {
    background-color: #B4B6B7;
}
/*.jumbotron {
    background-color: #B5C7C5;
}*/